<div class="row">
	<div class="col-md">
		<div class="card leaves">
		  <div class="card-header">
			<h5>	{{Branch.handle}} </h5>
		  </div>
		  <div class="card-body">
		    <blockquote class="blockquote mb-0">
		      <p class="textLeaf">{{text}}</p>
		      <footer class="blockquote-footer"><cite title="Source Title">{{Branch.name}}</cite></footer>
					<button data-id="{{id}}" data-likes="{{likes}}" type="button" class="btn btn-success btn-sm like">Like 
						<span class="badge badge-light badge-likes" >{{likes}}</span>
  					<span class="sr-only">unread messages</span></button>
		    </blockquote>
		  </div>
		</div>
	</div>
</div>
